.account-page {
  padding-bottom: 80px;
}

.add-account-card .card {
  background: #1d33f73d;
  border-radius: 15px;
  margin-top: 15px;
}

.add-account-card .card .card-body .links {
  text-decoration: none;
  color: #ffffff;
}

.add-account-card .ref-icon,
.signout-card .ref-icon,
.referral-card .ref-icon {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1d33f73d;
  padding: 10px;
}

.signout-card {
  position: absolute;
  width: 90%;
  bottom: 10%;
}
