.navbar-bottom .social-icons {
  padding-bottom: 20px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-bottom .social-icons a {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px 6px;
  text-align: center;
}

.account-card .referral-card {
  padding: 20px 12px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(0, 25, 255, 0.24) 0%,
    rgba(0, 15, 153, 0.24) 100%
  );
}

.account-card .referral-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-card .referral-info {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  text-align: left;
}

.account-card .referral-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ref-title {
  font-weight: bold;
  font-size: 1.2em;
}

.ref-count {
  font-size: 1em;
  color: #888;
  display: flex;
  align-items: center;
}

.navbar-card {
  position: fixed;
  top: 73px;
  left: -300px;
  width: 300px;
  height: calc(100vh - 73px);
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  transition: left 0.3s ease-in-out;
  padding: 1.5rem;
  overflow-y: auto;
}

.navbar-card.open {
  left: 0;
}

/* Tablet screens */
@media (min-width: 768px) {
  .navbar-card {
    left: -400px;
    width: 400px;
  }
}

/* Desktop screens */
@media (min-width: 1200px) {
  .navbar-card {
    left: -480px;
    width: 480px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 999;
}
