.portfolio {
  margin-top: 40px;
}

.crypto-card {
  margin-bottom: 20px;
  text-align: center;
  padding: 15px 12px;
}

.crypto-card .trx-link {
  color: #ffffff;
  text-decoration: none;
}

.crypto-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.crypto-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto-icon .icons {
  width: 45px;
  height: 45px;
  background: #007bff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}

.crypto-info {
  margin-left: 15px;
}

.crypto-symbol,
.crypto-quantity {
  font-weight: bold;
  font-size: 18px;
}

.crypto-price,
.crypto-value {
  font-size: 14px;
  color: #888;
}

.crypto-amount {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.portfolio .nav-tabs {
  border-bottom: none !important;
  display: flex;
  justify-content: space-between;
}

.portfolio .nav-tabs .nav-link {
  color: #007bff;
}

.portfolio .nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-weight: 700;
  border-bottom: 2px solid #ffd600;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.avatar-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin-right: 4px;
}

.referral-balance {
  color: #34ad38;
}

.share-btn,
.copy-btn {
  width: 45% !important;
}

.referral-link-container .copy-btn {
  border-color: #ffd600 !important;
}
