
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.logo-container {
  margin-bottom: 24px;
}

.logo-image {
  filter: invert(100%);
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.modal-description {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 32px;
}

.reward-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.reward-icon {
  border: 2px solid #ffd700; /* Yellow border */
  border-radius: 50%;
}

.reward-text {
  font-size: 24px;
  font-weight: bold;
}

.start-btn {
  background: linear-gradient(180deg, #ffd600 0%, #d49708 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  padding: 16px 0;
  border: none;
}

.start-btn:hover {
  background-color: #ffc400;
}

.transaction-details-modal .modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
}

.transaction-details-modal .modal-header h5 {
  font-weight: bold;
  color: #343a40;
}

.transaction-details-modal .modal-body {
  padding: 20px;
  font-size: 0.9rem;
  color: #495057 !important;
  line-height: 1.6;
}

.transaction-details-modal .transaction-details p {
  margin-bottom: 10px;
  color: #212529;
}

.transaction-details-modal .copyable-token {
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: monospace;
  color: #007bff;
  display: inline-block;
}

.transaction-details-modal .copy-icon {
  margin-left: 5px;
  cursor: pointer;
  color: #007bff;
}

.transaction-details-modal .copy-icon:hover {
  color: #0056b3;
}

.transaction-details-modal .modal-footer {
  border-top: 1px solid #dee2e6;
  padding-top: 15px;
  text-align: right;
}
